.nav_items a {
  list-style: none;
  margin-right: 30px;
  font-size: 18px;
  font-weight: bold;
}
.brand_title img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

@media screen and (max-width: 667px) {
  .nav_items {
    display: grid;
    grid-template-columns: 1fr;
  }
  .signIn {
    display: grid;
    grid-template-columns: 1fr;
  }
}
